/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


/* LAYOUT */
:root {
  --s4: 0.25rem;
  --s8: 0.5rem;
  --s10: 0.625rem;
  --s12: 0.75rem;
  --s14: 0.875rem;
  --s16: 1rem;
  --s18: 1.125rem;
  --s20: 1.25rem;
  --s24: 1.5rem;
  --s28: 1.75rem;
  --s32: 2rem;
  --s40: 2.5rem;
  --s48: 3rem;
}

/* Layout Utility Classes */
.container {
  max-width: 327px;
  margin: auto;
}

.desktop-only { display: none; }
.mobile-only { display: initial; }

@media (width > 390px) {
  .container {
    max-width: 627px;
  }
  .desktop-only { display: initial; } 
  .mobile-only { display: none; }
}


/* COLORS */
:root {
  /* Background Colors */
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;
  /* Brand Colors */
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  /* Content Colors */
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;
  /* Border Colors */
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;
}

body {
  background-color: var(--background-primary);
}

/* TYPOGRAPHY */
:root {
  /* Font Family */
  --font-family: "Inter", sans-serif;
  /* Font Weights */
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  /* Font Sizes */
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-24: 1.5rem;
  /* Font Line Height */
  --flh-32: 2rem;
  --flh-20: 1.25rem;
  --flh-16: 1rem;
  /* Font Combinations */
  --title: var(--fw-bold) var(--fs-24)/var(--flh-32) var(--font-family);
  --label: var(--fw-semi-bold) var(--fs-16)/var(--flh-20) var(--font-family);
  --paragraphy: var(--fw-medium) var(--fs-16)/var(--flh-20) var(--font-family);
  --link: var(--fw-medium) var(--fs-14)/var(--flh-16) var(--font-family);
}

body {
  font-family: var(--font-family);
}

/* "Voltar" button at the top left corner */
a {
  font: var(--link);
  color: var(--color-brand);
  &:hover {
    path {
      fill: #A52C6B;
    }
    color: var(--color-brand-hover);
  }
}

/* Compras da semana */
h1 {
  font: var(--title);
  color: var(--content-primary);
  margin-bottom: var(--s48);
}

/* Buttons and alert texts */
button {
  font: var(--label);
}

/* List itens and input placeholder */
p, label, input::placeholder {
  font: var(--paragraphy);
}

label {
  color: var(--content-secondary);
}


/* COMPONENTS */
/* Button Component*/
button {
  cursor: pointer;
  border: none;
  background-color: var(--color-brand);
  padding: var(--s12) var(--s24);
  border-radius: 12px;
  color: var(--always-white);
  transition: background-color 300ms;
  width: 100%;
  &:hover {
    background-color: var(--color-brand-hover);
  }
}

/* Delete Button Componet */
img[src*='trash'] {
  &:hover {
    cursor: pointer;
  }
}

/* Status Bar Component */
header.status-bar {
  margin-top: var(--s16);
  margin-bottom: var(--s48);
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .status-icons {
    display: flex;
    gap: var(--s4);

    & img {
      max-width: 25px;
    }
  }
}

@media (width > 390px) {
  header.status-bar {
    display: none;
  }

  /* Logo Component */
  .logo {
    display: block;
    margin: var(--s24) auto var(--s48);
  }
}

/* Navigation Component */
nav {
  margin-bottom: var(--s16);
  & a {
    display: flex;
    gap: var(--s8);
    align-items: center;
  }
}

/* New Item Form Component */
.new-item {
  display: flex;
  flex-direction: column;
  gap: var(--s16);
  margin-bottom: var(--s40);

  & input {
    width: 100%;
    border: 2px solid var(--border-primary);
    background-color: var(--background-secondary);
    border-radius: 12px;
    padding: var(--s12) var(--s18);
    transition: border 300ms;
    
    &::placeholder {
      color: var(--content-tertiary);
    }
    &:hover {
      border: 2px solid var(--border-hover);
    }
    &:focus {
      outline: none;
      border: 2px solid var(--color-brand);
      &::placeholder {
        color: var(--content-primary);
      }
    }
  }

  @media (width > 390px) {
    .new-item {
      flex-direction: row;
      & button {
        max-width: 160px;
      }
    }
  }
}

/* List Component */
#list {
  & fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--s12);

    border: none;
    margin-bottom: var(--s32);

    & .field {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: var(--s16) var(--s12);

      background-color: var(--background-secondary);
      border-radius: var(--s12);

      & input {
        display: none;
        
        &:checked + .custom-checkbox {        
          background-color: var(--color-brand);
          border-color: var(--color-brand);

          & img {
            display: initial;
          }
        }
      }
      & .custom-checkbox {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 16px;
        height: 16px;

        margin-bottom: -2px;
        margin-right: var(--s8);

        border: 1px solid var(--border-primary);
        border-radius: 6px;

        &:hover {
          border: 1px solid var(--border-hover);
        }
        & img {
          display: none;
        }
      }
    }
  }
}


/* Alert Component */
.alert {
  display: flex;
  justify-content: space-between;

  background-color: var(--color-danger);
  border-radius: var(--s12);
  color: var(--always-white);
  padding: var(--s12);
  
  & .message {
    display: flex;
    gap: var(--s8);
  }

  &.hide {
    display: none;
  }
}